
.body{
    display: flex;
    flex-direction: column;
    font-family:'Times New Roman', Times, serif;
    background-image: url('../../assets/portada-comida-scaled.jpg');
     background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}
.searchBar{
    margin: 100px auto 10px auto;
    display: inline-flex;
    border-radius: 1rem;
}
.inputSearchBar{
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: 2em;
    font-size: 20px;
    border: none;
    margin-right: 10px;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-family:'Times New Roman', Times, serif;
    line-height: 28px;
       border: 2px solid transparent;
       border-bottom-color: #777;
    padding: .2rem 0;
    outline: none;
    color: #0d0c22;
    transition: .3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.inpuinputSearchBart:focus, .inputSearchBar:hover {
    outline: none;
    padding: .2rem 1rem;
    border-radius: 1rem;
    border-color: black;
   }
.buttonSearchBar {
    display: inline-flex;
    height: 3em;
    width: 100px;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee4b;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    background: #fff;
    font-family:'Times New Roman', Times, serif;
}
   
.buttonSearchBar:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);
   }

.buttonSearchBar:hover{
    cursor: pointer;
}
.createRecipe{
    margin: 0 auto;
}
.createRecipeButton{
    display: inline-flex;
    height: 3em;
    width: 100px;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee4b;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    background: #fff;
    font-family:'Times New Roman', Times, serif;
   
}
.createRecipeButton:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);
    cursor: pointer;
   }

.filterAndOrder{
    border: 1px solid black;
    background-color: white;
    color:black;
    position: fixed ;
    width: 30px;
    height: 400px;
    margin-top: 150px;
    margin-left: -2px;
    display: flex;
    align-items: center;
    z-index: 1;
}
.filterAndOrder:hover{
    cursor: pointer;
    width: 190px;
    justify-content: center;
    flex-direction: column;
}
.filterAndOrder:hover .textFilters{
    margin-left: 160px;
}
.filterAndOrder:hover .arrowFilters{
    display: none;
}
.arrowFilters{
    border: 1px solid black;
    background-color: white;
    color:black;
    width: 50px;
    height: 50px;
    font-size: 45px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    z-index: 1;
}
.textFilters{
    position: absolute;
    background-color: white;
    color:black;
    font-size: 20px;
    width: 30px;
    height: 350px;
    writing-mode: vertical-lr;
    text-orientation: upright;
    z-index: 2;
}
.filterAndOrder:hover .filterCards{
    display: block;
    z-index: 3;
}
.filterCards{
    display: none
}
.filterAndOrder:hover .orderCards{
    display: block;
    z-index: 3;
}
.orderCards{
    display: none
}
.buttonClean{
    display: none;
}
.filterAndOrder:hover .buttonClean{
    display: block;
    z-index: 3;
    display: inline-flex;
    height: 3em;
    width: 100px;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee4b;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    background: #fff;
    font-family:'Times New Roman', Times, serif;
    margin-top: 10px;
    margin-left: 10px;
    border: 2px solid transparent;
    border-bottom-color: #777;

}
.buttonClean:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);
    cursor: pointer;
    border-color: black;
   }
.listDiets{
    list-style: none;
    display: block;
    width: 150px;
    padding-left: 10px;
    padding-right: 5px;
}
.selects{
    width: 130px;
    background-color: black;
    color:white;
}
.selectsDiv{
    margin: 10px 5px;
}
.navPaginated{
    margin: 0 auto;
}
.paginated{
    display: inline-flex;
}
.eachPaginated{
    display: inline-flex;
    height: 3em;
    width: 25px;
    margin-left: 25px;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee4b;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    background: #fff;
    font-family:'Times New Roman', Times, serif;
    box-shadow:
    2.8px 2.8px 2.2px rgba(0, 0, 0, 0.093),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.133),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.165),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.197),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.237),
    100px 100px 80px rgba(0, 0, 0, 0.33)
}
.eachPaginated:hover{
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);
}
.selectedButton {
    color: white;
    background-color: black;
  }
.cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card{
    width: 500px;
    height: 200px;
    margin: 10px 10px;
    background-color: white;
    color: black;
    font-family:'Times New Roman', Times, serif;
    box-shadow:
    2.8px 2.8px 2.2px rgba(0, 0, 0, 0.093),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.133),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.165),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.197),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.237),
    100px 100px 80px rgba(0, 0, 0, 0.33);
    border-radius: 20px;
;
}
.card:hover{
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);
}
.cardTitleDiv{
    height: 150px;
    width: 240px;
    margin: 0 0 0 auto;
    padding-left: 10px;
}
.cardImageDiv{
    margin: -150px auto 0 0;
    height: 200px;
    width: 250px;
}
.cardImage{
    height: 200px;
    width: 250px;
}
.cardDietsDiv{
    height: 40px;
    width: 240px;
    margin: -75px 0 0 auto;
}
.loadingDiv{
    width:100%;
    height: 100%;
    background-color: black;
  }
  .loader {
    position: relative;
    width: 120px;
    height: 14px;
    border-radius: 0 0 15px 15px;
    background-color: #3e494d;
    box-shadow: 0 -1px 4px #5d6063 inset;
    animation: panex 0.5s linear alternate infinite;
    transform-origin: 170px 0;
    z-index: 10;
    perspective: 300px;
  
  }
  .loader::before {
  content: '';
  position: absolute;
  left: calc( 100% - 2px);
  top: 0;
  z-index: -2;
  height: 10px;
  width: 70px;
  border-radius: 0 4px 4px 0;
  background-repeat: no-repeat;
  background-image: linear-gradient(#6c4924, #4b2d21), linear-gradient(#4d5457 24px, transparent 0), linear-gradient(#9f9e9e 24px, transparent 0);
  background-size: 50px 10px , 4px 8px , 24px 4px;
  background-position: right center , 17px center , 0px center;
  }
  .loader::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    z-index: -2;
    transform: translate(-50% , -20px) rotate3d(75, -2, 3, 78deg);
    width: 55px;
    height: 53px;
    background: #fff;
    background-image:
    radial-gradient(circle 3px , #fff6 90%, transparent 10%),
    radial-gradient(circle 12px , #ffc400 90%, transparent 10%),
    radial-gradient(circle 12px , #ffae00 100%, transparent 0);
    background-repeat: no-repeat;
    background-position: -4px -6px , -2px -2px , -1px -1px;
    box-shadow: -2px -3px #0002 inset, 0 0 4px #0003 inset;
    border-radius: 47% 36% 50% 50% / 49% 45% 42% 44%;
    animation: eggRst 1s ease-out infinite;
  }
  
  @keyframes eggRst {
  0% ,  100%{  transform: translate(-50%, -20px) rotate3d(90, 0, 0, 90deg); opacity: 0; }
  10% , 90% {  transform: translate(-50%, -30px) rotate3d(90, 0, 0, 90deg); opacity: 1; }
  25%  {transform:  translate(-50% , -40px) rotate3d(85, 17, 2, 70deg) }
  75% {transform:  translate(-50% , -40px) rotate3d(75, -3, 2, 70deg) }
  50% {transform:  translate(-55% , -50px) rotate3d(75, -8, 3, 50deg) }
  }
  @keyframes panex {
  0%{  transform: rotate(-5deg)  }
  100%{  transform: rotate(10deg)  }
  }