
.body{
    display: flex;
    flex-direction: column;
    font-family:'Times New Roman', Times, serif;
    background-image: url('../../assets/portada-comida-scaled.jpg');
     background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}
.searchBar{
    margin: 100px auto 10px auto;
}
.inputSearchBar{
    width: 80vw;
    height: 40px;
    font-size: 20px;
    border: none;
    margin-right: 10px;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-family:'Times New Roman', Times, serif
}
.buttonSearchBar{
    height: 40px;
    border-radius: 100%;
     background-color: black;
    color: white;
    font-family:'Times New Roman', Times, serif
}
.buttonSearchBar:hover{
    cursor: pointer;
}
.createRecipe{
    margin: 0 auto;
}
.createRecipeButton{
    height: 40px;
    border-radius: 100%;
    background-color: black;
    color: white;
    font-family:'Times New Roman', Times, serif
}
.createRecipeButton:hover{
    cursor: pointer;
}
.filterAndOrder{
    border: 1px solid black;
    background-color: black;
    color: white;
    position: fixed ;
    width: 30px;
    height: 350px;
    margin-top: 150px;
    margin-left: -2px;
    display: flex;
    align-items: center;
    z-index: 1;
}
.filterAndOrder:hover{
    cursor: pointer;
    width: 150px;
    justify-content: center;
    flex-direction: column;
}
.filterAndOrder:hover .textFilters{
    margin-left: 150px;
}
.filterAndOrder:hover .arrowFilters{
    display: none;
}
.arrowFilters{
    border: 1px solid black;
    background-color: black;
    color: white;
    width: 50px;
    height: 50px;
    font-size: 45px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    z-index: 1;
}
.textFilters{
    position: absolute;
    background-color: black;
    font-size: 20px;
    width: 30px;
    height: 350px;
    writing-mode: vertical-lr;
    text-orientation: upright;
    z-index: 2;
}
.filterAndOrder:hover .filterCards{
    display: block;
    z-index: 3;
}
.filterCards{
    display: none
}
.filterAndOrder:hover .orderCards{
    display: block;
    z-index: 3;
}
.orderCards{
    display: none
}
.selects{
    width: 130px;
    background-color: black;
    color: white;
}
.selectsDiv{
    margin: 10px 5px;
}
.navPaginated{
    margin: 0 auto;
}
.paginated{
    display: inline-flex;
}
.eachPaginated{
    margin: 10px 10px;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: black;
    color: white;
    font-family:'Times New Roman', Times, serif
}
.eachPaginated:hover{
    font-size: 20px;
    cursor: pointer;
}
.cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card{
    border: 1px solid black;
    width: 500px;
    height: 200px;
    margin: 10px 10px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-family:'Times New Roman', Times, serif
}
.cardTitleDiv{
    height: 150px;
    width: 240px;
    margin: 0 0 0 auto;
    padding-left: 10px;
}
.cardImageDiv{
    margin: -170px auto 0 0;
    height: 200px;
    width: 250px;
}
.cardImage{
    height: 200px;
    width: 250px;
}
.cardDietsDiv{
    height: 40px;
    width: 240px;
    margin: -75px 0 0 auto;
}