.body{
    color: white;
    background-image: url('../../assets/portada-comida-scaled.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family:'Times New Roman', Times, serif;
    height: 110vh;
}
.backHome{
    margin-top: 95px;
    margin-left: 5%;
    background-color: black;
    color: white;
}
.titleDiv{
    width: 500px;
    background-color: black;
    color: white;
    margin: 0 auto;
    padding: 10px auto;
}
.title{
    margin: 0 auto;
}
.form{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    width: 500px;
    margin: 0 auto;
}
.div{
    margin: 5px auto 0 auto;
    width: 100px;
}
.inputDiv{
    margin: 1px auto 5px auto;
    width: 200px;
}
.inputs{
    margin: 0 auto;
    width: 200px;
}
.errors{
    margin:  0 auto 0 auto;
    color: red
}