.body{
    color: white;
    background-image: url('../../assets/portada-comida-scaled.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family:'Times New Roman', Times, serif;
    height: 110vh;
}
.form{
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
    background-color: black;
    color: white;
    width: 500px;
    margin: 0 auto;
}
.div{
    margin: 0 auto;
    width: 100px;
    border: 1px solid white;
}
.inputDiv{
    margin: 0 auto;
    width: 200px;
}
.inputs{
    margin: 0 auto;
    width: 200px;
}